.btn {
    background: linear-gradient(to top, var(--main-color) -15%, var(--second-color) ) ;
    color: white;
    border:none;
    border-radius: 50px;
    padding:18px 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
}