.btn {
    background: linear-gradient(to top, var(--main-color) -15%, var(--second-color) ) ;
    color: white;
    border:none;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #858484;
    padding: 18px 27px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
    
}

